body {
	background-color:#5c5c8a;
	width:1200px;
	margin: auto;
}

.section{
	float:left;
	background-color: #9999ff;
	position: relative;
	left: 10px;
	top: -35px;
	margin: 5px;
	background-size: cover; 
}

#section2{
	position: relative;
	top: -285px;
}

#section3{
	position: relative;
	top: -35px;
}

.section a{
	font-family: 'Dekko', cursive;	
	text-decoration: none;
	font-size: 30px;
}

.section_overlay{	
	width:100%;
	height:100%;
	background: rgba(255, 226, 252, 0);
}

.section_overlay:hover{
	background: rgba(255, 226, 252, 0.5);
}

.section_title{
	visibility: hidden;
	position:absolute;
	bottom:200px;
	width:90%;
	margin:5%;
	padding-top: 10px;
	padding-bottom: 10px;
	background: rgba(121, 154, 157, 1);
	text-align: center;	
}

#section0_title{
	position:absolute;
	bottom: 75px;
}

#section3_title{
	position:absolute;
	bottom: 65px;
}
h1{
	font-size: 100px;
	color: white;
    line-height: 26px;
	margin-bottom: 10px;
    margin-top: 10px;
    position: relative;
    top: 390px;
    font-family: 'Lobster', cursive;
}
a:hover {
	color: #ffffff;
	text-decoration: none;
}