body {
	width:1200px;
	margin: auto;
}

#header{
	width:100%;
	height:150;
	padding: 0.2em;
	margin-bottom:20px;
	margin-top: 20px;
	background-color:#660000;
}

h1{
	font-size: 70px;
	color: white;
	padding: 25px;
    line-height: 26px;
    margin-bottom: 20px;
    margin-top: 20px;
    font-family: 'Lobster', cursive;
}

#sidebar{
	position: fixed;
	padding-top: 1em;
	padding-bottom: 1em;
    width: 178px;
    float:left;
    background-color: rgba(121, 154, 157, 1);
}

.menu{
	font-family: 'Lobster', cursive;
	color:#ead0e4;
	text-align: center;
	font-size: 20px;
}

#home{
	font-family: 'Lobster', cursive;
	color:#ead0e4;
	text-align: center;
	font-size: 20px;
}

#container{
	margin-left:200px;
	padding-top: 10px;
	padding-bottom: 120px;
    background-color: #3D4D78;
}

.subheader_text{
	width:650px;
	position: relative;
	bottom:-100px;
	font-family: 'Bad Script', cursive;
	color: white;
	text-align: left;
	font-size: 30px;
	padding-left: 170px;
	padding-top:10px;	
}

.main_text{
	width:650px;
	font-family: 'Josefin Sans', sans-serif;
	color: white;
	text-align: left;
	font-size: 18px;
	position: relative;
	bottom: -100px;
	padding-left: 180px;
	padding-bottom:10px;	
}

#quote{

	width:1000px;
	height:150px;
	background-color:#3D4D78;
	margin:auto;
	position: relative;
	margin-right:10px;
	margin-left:10px;

}

.subheader_quote{
	font-family: 'Bad Script', cursive;
	color:white;
	text-align: center;
	font-size: 30px;
	padding-top:10px;	
	
}

.main_quote{
	font-family: 'Bad Script', cursive;
	color:#ffeaac;
	text-align: center;
	font-size: 20px;
	padding-bottom:10px;
	
	
}
#personaPic{
	position: relative;
	top: -10px;
	left: 40%;
}

a{
	text-decoration:none;

	font-family: 'Bad Script', cursive;
	color: #ead0e4;
	text-align: center;
	font-size: 20px;

	}
	
a:hover{
	color:#f488d6;
}